<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.username.photocapture</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/temp.user/thor/file-monitoring-daemon/src/monitor/capture_photos.py</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/photocapture.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/photocapture.err</string>
</dict>
</plist>
